<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row border-panel title-panel">
    <div class="col-md-auto site-title">
      <a routerLink="/" routerLinkActive="router-link-active" 
      [routerLinkActiveOptions]="{exact:true}">Portal novic</a>
    </div>
    <div class="col-md-auto align-self-end">
      <a class="title-link" routerLink="/news" routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{exact:true}">Novice</a>
    </div>
    <div class="col-md-auto align-self-end">
      <a class="title-link" routerLink="/news/add" routerLinkActive="router-link-active" 
        [routerLinkActiveOptions]="{exact:true}">Vstavi novico</a>
    </div>
    <div class="col-md-auto ml-auto align-self-center">
      <a class="title-link" routerLink="/login" routerLinkActive="router-link-active">Prijava</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
