<!-- view/partials/head.ejs -->
<meta charset="UTF-8">
<title>Študentski forum</title>
<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- FontAwesome icons-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<style>
    body {
        background-color: #37474f;
        color: #fff
    }

    .container {
        margin-top: 20px
    }

    .question-box {
        padding: 5px 10px 0px 10px;
        margin: 5px 0;
        background-color: #323e46;
        color: #fff;
        min-height: 100px;
        border-radius: 5px;
    }

    .question-author {
        font-size: 11pt;
        color: #ccc
    }

    .question {
        color: #b86c15;
        font-weight: bold;
        font-size: 14pt;
    }

    .comment-box {
        margin-bottom: 10px;
    }
    .comment {
        font-size: 10pt;
        padding-left: 30px;
    }
    .createdAt {
        font-size: 8pt;
        color: #959595;
    }

    .comments-author {
        font-size: 9pt;
        color: #aaab38;
        margin-top: 10px;
    }

    .commentAge {
        font-size: 9pt;
        color: #959595;
    }

    hr {
        margin: 15px 0 0 0;
        border-color: #4b4b4b
    }

    label {
        font-size: 9pt;
        font-weight: bold;
        margin-bottom: .1rem;
    }
    
    .button-row {
        margin-top: 10px;
    }

    .btn-dark {
        width: 100%;
        background-color: #222b30;
        border-radius: 15px;
    }

    .btn-dark:hover {
        background-color: #15191b;
    }

    .new-question-btn {
        color: #b86c15;
    }

    .new-question-btn:hover {
        color: #c88334;
        cursor: pointer;
        text-decoration: none;
    }

    .new-question-btn:active {
        color: #d88b33
    }

    .margin-top-10 {
        margin-top: 10px;
    }

</style>