<div class="container">
  <div class="form-wrapper">
    <form>
        <div class="form-group">
          <label for="titleInput">Naslov</label>
          <input type="text" class="form-control" id="titleInput">
        </div>
        <div class="form-group">
          <label for="newsBody">Vsebina</label>
          <textarea class="form-control" name="newsBody" id="newsBody" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Objavi</button>
      </form>
  </div>
</div> 